@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --Cor1: #2B0038;
    --Cor2: #6A006F;
    --Cor3: #FF2E93;
    --Cor4: #FF5CB8;
    --Cor5: #F8F5F7;
    --Cor6: #000000;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

/*Cabeçalho*/
.cabecalho{
    background-image: url(imagens/headerOficial.png);
    background-size: cover;
    background-position: top;
    padding: 30px 45px;
}

img{
    width: 30vh;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.links{
    display: flex;
    gap: 60px;
    list-style: none;
    margin-right: 60vh;
}

.links a {
    color: white;
    text-decoration: none;
    display: inline-block;
    margin-left: 100px;
    position: relative;  
    font-size: 20px;
    font-weight: 600; 
}

.links a::after{
    content: "";
    position: absolute;
    left: 50%;
    bottom: 1px;
    width: 0;
    height: 2px;
    background-color: white;
    transition: 0.3s;
    transform: translate(-50%);
}

.links a:hover::after{
    width: 100%;
}

ul{
    font-size: 18px;
    position: relative;
    display: flex;
    list-style-type: none;
}

/*PARTE PRINCIPAL*/
main{
    min-height: 80vh;
    padding: 20px;
}

main h2{
    font-size: 4rem;
    color:var(--Cor2);
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 4rem;
}

main p{
    text-align: center;
    margin-bottom: 1rem;
    font-size: 1.5rem;
}

section{
    padding: 3rem 2rem;
    margin: 0 auto;
    max-width: 1200px;
}

h4{
    font-size: 1.5rem;
}

.cardapio .box-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.5rem;
}

.cardapio .box-container .box{
    text-align: center;
    border-radius:14px;
    background-color: var(--Cor1);
    padding: 1rem;
}

.cardapio .box-container .box img{
    height: 10rem;
    align-items: center;
}

.cardapio .box-container .box h3{
    color:var(--Cor5);
    font-size: 2rem;
    padding: 1rem 0;
}

 .cardapio .box-container .box .preco{
    color:var(--Cor5) ;
    font-size: 2.5rem;
    padding: 0.5rem 0;
}


.btn{
    background-color: var(--Cor3);
    color: var(--Cor5);
    display: inline-block;
    padding: 4px 2px;
    border-radius: 8px;
    font-weight: 500px;
    font-size: 1.7rem;
    cursor: pointer;
    text-decoration: none;
}

/*Footer*/

.bottom-all {
    padding: 50px;
    margin-top: 5rem;
    background: url(imagens/fundo-com-acai.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 15px 15px 0 0;
}

.bottom-all h2 {
    color: var(--Cor5);
    font-size: 30px;
    font-weight: 800;
}

.bottom-all p {
    color: var(--Cor5);
    line-height: 1.9;
}