@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cookie&display=swap');

:root {
    --Cor1: #2B0038;
    --Cor2: #6A006F;
    --Cor3: #FF2E93;
    --Cor4: #FF5CB8;
    --Cor5: #F8F5F7;
    --Cor6: #000000;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.cabecalho{
    background-image: url(imagens/headerOficial.png);
    background-size: cover;
    background-position: top;
    padding: 30px 45px;
    display: flex;
    align-items: center;
    position: relative;
}

.cabecalho img{
    width: 230px;
}

.links{
     position: absolute;
    left: 50%;
    transform: translateX(-50%);

}

.links ul{
    display: flex;
    gap: 80px;
    list-style: none;
}

.links a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    position: relative;
}

.links a::after{
    content: "";
    position: absolute;
    left: 50%;
    bottom: -4px;
    width: 0;
    height: 2px;
    background-color: white;
    transform: translateX(-50%);
    transition: .3s;
}

.links a:hover::after{
    width: 100%;
}


main{
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 50px 20px;
    flex-wrap: wrap;
}

.texto{
    color: var(--Cor1);
    max-width: 450px;
    position: relative;
    left: 30px;
}

.texto h1{
    font-size: 70px;
    line-height: 55px;
}

.texto span{
    font-family: "Cookie", cursive;
    font-size: 85px;
    padding: 5px;
}

.texto p{
    max-width: 300px;
    margin-top: 15px;
    line-height: 20px;
}

.texto a{
    display: inline-block;
    margin-top: 30px;
    text-decoration: none;
    background-color: var(--Cor3);
    color: white;
    padding: 12px 25px;
    border-radius: 25px;
    transition: .3s;
}

.texto a:hover{
    transform: translateY(-3px);
}

.acai{
    width: 100%;
    max-width: 450px;
    height: auto;
}

.combo{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container{
     background-color: white;
    width: 320px;
    height: 320px;
    border-radius: 15px;
    box-shadow: 0px 2px 8px rgba(0,0,0,.2);
    padding: 20px;
    position: relative;
    overflow: visible;
}

.container h1{
    color: var(--Cor1);
    font-size: 22px;
    margin-bottom: 20px;
}

.container p{
    max-width: 180px;
}

.container .v1 del{
    color: var(--Cor1);
    font-size: 20px;
    font-weight: 600;
}

.container .v2{
    display: block;
    color: var(--Cor3);
    font-size: 32px;
    font-weight: 700;
    margin-top: 5px;
}

.porcao{
    width: 220px;
    position: absolute;
    right: -50px;
    bottom: 20px;
    filter: drop-shadow(-4px 7px 5px rgba(0,0,0,.3));
}

.container .botao{
    text-decoration: none;
    background-color: var(--Cor1);
    color: white;
    padding: 10px 25px;
    border-radius: 25px;
    position: absolute;
    bottom: 30px;
}


.delicias{
    text-align: center;
}

.delicias h2{
    color: var(--Cor1);
    margin-top: -50px;
}

.cards{
    display: flex;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
    padding-top: 50px;
    margin-bottom: 50px;
}

.card{
    position: relative;
    width: 320px;
    height: 135px;
    background: white;
    border-radius: 20px;
    box-shadow: 0px 2px 8px rgba(0,0,0,.15);
    display: flex;
    align-items: center;
    transition: 0.3s;
    bottom: 20px;
}

.card:hover{
    transform:translateY(-5px) ;
}

.card img{
    position: absolute;
    width: 180px;
    height: 180px;
    object-fit: contain;
    flex-shrink: 0;
    left: -10px;
}

.card .combo{
    width: 150px;
    height: 150px; 
    left: 15px;
    clip-path: inset(5% 0% 0% 0%);
}

.card .sorvete{
    width: 180px;
    height: 180px;
    bottom: -30px;
    object-fit: contain;
}

.txt{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 160px;
    padding-right: 15px;
}

.txt h3{
    font-size: 18px;
    font-weight: 700;
    color: var(--Cor1);
    margin: 3px 
    
}

.txt p{
    color: #444;
    font-size: 12px;
    line-height: 1.2;
}

.bottom-all{
    padding: 50px;
    background-image: url(imagens/headerOficial.png);
    background-size: cover;
    background-position: center;
    border-radius: 15px 15px 0 0;
}

.bottom-all h2{
    color: white;
    font-size: 30px;
    font-weight: 800;
}

.bottom-all p{
    color: white;
    line-height: 1.8;
}

.bottom-half{
    margin-top: 25px;
}

.bottom-end{
    margin-top: 30px;
}

@media (max-width: 900px){
    .cabecalho{
        flex-direction: column;
        gap: 20px;
    }

    .links ul{
        flex-wrap: wrap;
        justify-content: center;
    }

    .texto{
        text-align: center;
    }

    .texto p{
        margin-left: auto;
        margin-right: auto;
    }

    .texto h1{
        font-size: 55px;
    }

    .texto span{
        font-size: 70px;
    }
}