@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.cabecalho{
    background-color: #360f46;
    padding: 15px 40px;
}

img{
    width: 30vh;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.links{
    display: flex;
    gap: 60px;
    list-style: none;
    margin-right: 60vh;
}

.links a {
    color: white;
    text-decoration: none;
    display: inline-block;
    margin-left: 100px;
    position: relative;   
}

.links a::after{
    content: "";
    position: absolute;
    left: 50%;
    bottom: 1px;
    width: 0;
    height: 2px;
    background-color: white;
    transition: 0.3s;
    transform: translate(-50%);
}

.links a:hover::after{
    width: 100%;
}

ul{
    font-size: 18px;
    position: relative;
    display: flex;
    list-style-type: none;
}

main{
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.rodape{
    background-color:#360f46;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 50px;
}
